# Bazel directories
/bazel-*

# VScode data
.vscode/

####################################################################################################
## General
####################################################################################################
**/.DS_Store